.App {
  text-align: center;
  margin-top: 50px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input {
  margin-bottom: 10px;
  font-size: 1em;
}

button {
  font-size: 1em;
  cursor: pointer;
}
